*{
  box-sizing: border-box;
}

#inlines {
display: inline-block;
position: absolute;
top: 15%;
left: 35%;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    

  }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  .lists > div{
    display: inline-block;
    border: 1em;
    border-color: black;
  }
  #ToDoList_Home{
    position:absolute;
    left: 15%;
    top: 25%;
  }
  #ToDoList_Work{
    position:absolute;
    left: 65%;
    top: 25%;
  }
  header{
    position: absolute;
    left: 40%;
  }
 #added:hover{
background-color: blanchedalmond;
cursor: pointer;
 }
 .line{
   text-decoration: line-through;
 }
 p:hover{
   background-color: rgb(146, 146, 99);
 }